# MySQL connection string
# Formato: mysql://usuario:password@host:3306/nombre_base_de_datos
DATABASE_URL=mysql://usuario:password@host:3306/kahootgenerico

SECRET_KEY=pon-aqui-un-texto-secreto-largo
FRONTEND_URL=https://TU-APP.vercel.app
